<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/booking_plane.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <div class="navbar w-full">
        <div class="img inline-block align-middle px-20 py-5">
            <img src="static/img/7379dfd8-c9cc-4fb9-896f-6374a766cefc-1598927204969-fab786a46eee63c306f89837093520a4.jpg" class="w-40 h-10 inline-block align-middle" alt="">
        </div>
        <div class="timeline inline-block align-middle">
            <div class="inline-block">
                <div class="inline-block align-middle text-xl font-semibold">1. Pesan </div>
                <div class="inline-block align-middle">
                    <span class="material-icons inline-block align-middle">
                        chevron_right
                        </span>
                </div>
            </div>

            <div class="inline-block align-middle">
                <div class="inline-block align-middle text-xl font-semibold text-gray-2">2. Bayar </div>
                <div class="inline-block align-middle">
                    <span class="material-icons inline-block align-middle text-gray-2">
                        chevron_right
                        </span>
                </div>
            </div>

            <div class="inline-block align-middle">
            <div class="inline-block text-xl font-semibold text-gray-2">3. Selesai </div>    
            </div>
          
        </div>
        <div class="promo inline-block align-middle float-right clear-both mr-20 mx-auto my-5">
            <img src="static/img/promo.png" class="inline-block w-5 h-5 align-middle " alt="">
            <div class="inline-block align-middle">promo</div>
        </div>
    </div>
    <!-- end -->

    <!-- time booking -->
    <section class="mt-4 bg-blue-300">
        <div class="w-full h-min bg-black-1 p-2 text-center">
           <div class="text-center inline-block text-white">Mohon selesaikan pesanan dalam</div>  
            <div class="bg-yellow-300 inline-block p-0.5 px-1 rounded-sm">01</div>
            <div class="inline-block text-white">:</div>
            <div class="bg-yellow-300 inline-block p-0.5 px-1 rounded-sm ">02</div>
            <div class="inline-block text-white">:</div>
            <div class="bg-yellow-300 inline-block p-0.5 px-1 rounded-sm ">01</div>
        </div>
    </section>
    <!-- end -->

    
    <section>
        <div class="card_1 p-3 box-border ">
            <div class="bg-white block p-4 w-min">

                <div class="mb-4">
                    <div class="border-5 w-max p-3 border rounded-full bg-transparent inline-block align-middle  mr-3">
                        <img src="https://www.tiket.com/pesawat/assets/d0a3e4e3.svg" class="w-7 inline-block align-middle" alt="">
                    </div>
                   <div class="inline-block align-middle font-open-sans-semibold  ">Detail Pemesanan</div>
                </div>
    
               <div class="w-full py-5 px-2 bg-blue-1 mb-3">
                    <div class="w-max h-max border rounded-full  bg-white inline-block align-middle">
                        <img src="https://www.tiket.com/pesawat/assets/icon-login.png" class="w-11 inline-block align-middle" alt="">
                    </div>
                    <div class="inline-block align-middle w-max h-10 ml-3 text-base">Log in atau buat akun sekarang untuk dapetin <span class="font-open-sans-semibold"> Blibli Tiket Points</span> dari transaksi ini!<br> <a href="#" class="font-open-sans-semibold text-blue-500"> Log in sekarang</a></div>
               </div>
    
               <form action="#" method="get" class="w-full">
                <div class="">
                    <div class="inline-block">
                        <select id="countries" class=" mr-5 w-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5   dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Title</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                        </select>
                    </div>
                    <div class="inline-block">
                        <div class="relative">
                            <input type="text" id="floating_outlined" class="input border p-2.5 text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer mr-5" placeholder=" " />
                            <label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Nama Lengkap</label>
                        </div>
                    </div>
                    

                    <div class="inline-block mt-4">
                        <div class="relative">
                            <input type="text" id="floating_outlined" class="input1  p-2.5 text-sm text-gray-900 border bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer mr-5" placeholder=" " />
                            <label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Alamat Email</label>
                        </div>
                    </div>

                    <div class="inline-block mt-4">
                        <select id="countries" class=" mr-5 w-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5   dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Kode Negara</option>
                            <option value="62">+62</option>
                            <option value="32">+32</option>
                        </select>
                    </div>
                    <div class="inline-block">
                        <div class="relative">
                            <input type="text" id="floating_outlined" class="input2 border p-2.5 text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer mr-5" placeholder=" " />
                            <label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Nomor Telephone</label>
                        </div>
                    </div>
    
                   
                </div>
              
            </div>

            <!--Detail Penumpang  -->
            <div class="mb-4 block bg-white mt-10 p-4 w-max">
                <div class="inline-block">
                    <div class="border-5 w-max p-3 border rounded-full bg-transparent inline-block align-middle  mr-3">
                        <img src="https://www.tiket.com/pesawat/assets/d0a3e4e3.svg" class="w-7 inline-block align-middle" alt="">
                    </div>
                   <div class="inline-block align-middle font-open-sans-semibold  ">Detail Penumpang</div>
                </div>
                
            <div class="">
                    
                        
               <div class="w-full p-4 bg-gray-2 mt-4">
                    <div class="w-max h-max inline-block align-middle">
                        <h1 class="font-open-sans-semibold">Penumpang 1 : Dewasa</h1>
                    </div>
                    <div class="inline-block align-middle w-max h-10 ml-3 text-base float-right clear-both mt-1">
                        
                        <label for="toggleButton" class="flex items-center  cursor-pointer">
                            <div class="text-sm text-start -mt-3">Sama dengan pemesanan</div>
                            <div class="ml-3 text-gray-700 font-medium">
                                <label class="switch ">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                  </label>
                            </div>
                        </label>
      
                    </div>
                </div>

                    <div class="block mt-4">
                        <select id="countries" class=" mr-5 w-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5   dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Title</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                        </select>
                    </div>
                    <div class="block mt-4">
                        <div class="relative">
                            <input type="text" id="floating_outlined" class="input1  p-2.5 text-sm text-gray-900 border bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer mr-5" placeholder=" " />
                            <label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Nama Lengkap</label>
                        </div>
                    </div>
                </div>
            </div>
                <button type="submit" class="px-14 py-3 rounded-full bg-yellow-1 font-open-sans-semibold text-blue-1">lanjutkan</button>
        </form>
        </div>

        <div class="card_2 inline-block align-top mt-8 bg-white p-3">
            <h1 class="text-xl font-open-sans-semibold">Penerbangan</h1>
            <div class="mt-3 mb-3">
                <div class="inline-block align-middle">
                    <span class="text-base">jakarta</span>
                    <div class="material-icons inline-block align-middle">arrow_right_alt</div>
                    <span class="text-base">Denpasar-Bali</span>
                </div>
                <div class="font-semibold text-blue-600 inline-block float-right clear-both ">Detail</div>
            </div>

            <div class="block mb-7">
                <div class="inline-block">
                    <div class=" w-16 py-1 border box-border inline-block align-middle">
                        <img src="static/img/airlines/lion_air.png" class="mx-auto w-5 h-5" alt="">
                    </div>
                    <div class="inline-block text-sm">CGK-DPS</div>
                </div>
                <div class="inline-block  w-1 h-1 bg-black rounded-full align-middle">  </div>
                <div class="inline-block">sel, 16 Mei 23</div>
                <div class="inline-block  w-1 h-1 bg-black rounded-full align-middle">.</div>
                <div class="inline-block"> 14:00</div>
            </div>

            <div class="">
                <h1 class="text-base font-open-sans-semibold">Kebijakan Tiket</h1>
                <div class=""></div>
                <div class="w-full border-2 rounded-md bg-blue-1 box-border border-blue-600 p-150 font-open-sans-semibold  text-sm">
                    Kamu mendapatkan Diskon  <span class="text-blue-500">IDR 22.000</span>  untuk pemesanan  ini
                </div>
            </div>
            <hr class="mt-4">
            <div class="">
                <div class="inline-block text-base font-open-sans-semibold align-middle">Total Pembayaran</div>
                <div class="inline-block align-middle float-right text-lg font-open-sans-semibold text-blue-500">IDR 300.000</div>
            </div>
        </div>
    </section>
  
</body>


</html>