<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/methode_pay.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <div class="navbar w-full">
        <div class="img inline-block align-middle px-20 py-5">
            <img src="/static/img/7379dfd8-c9cc-4fb9-896f-6374a766cefc-1598927204969-fab786a46eee63c306f89837093520a4.jpg" class="w-40 h-10 inline-block align-middle" alt="">
        </div>
        <div class="timeline inline-block align-middle">
            <div class="inline-block">
                <div class="inline-block align-middle text-xl font-semibold text-gray-2">1. Pesan </div>
                <div class="inline-block align-middle">
                    <span class="material-icons inline-block align-middle text-gray-2">
                        chevron_right
                        </span>
                </div>
            </div>

            <div class="inline-block align-middle">
                <div class="inline-block align-middle text-xl font-semibold ">2. Bayar </div>
                <div class="inline-block align-middle">
                    <span class="material-icons inline-block align-middle text-gray-2">
                        chevron_right
                        </span>
                </div>
            </div>

            <div class="inline-block align-middle">
            <div class="inline-block text-xl font-semibold text-gray-2">3. Selesai </div>    
            </div>
          
        </div>
        <div class="promo inline-block align-middle float-right clear-both mr-20 mx-auto my-5">
            <img src="/static/img/promo.png" class="inline-block w-5 h-5 align-middle " alt="">
            <div class="inline-block align-middle">promo</div>
        </div>
    </div>
    <!-- end -->

    <!-- time booking -->
    <section class="mt-4 bg-blue-300">
        <div class="w-full h-min bg-black-1 p-2 text-center">
           <div class="text-center inline-block text-white">Mohon selesaikan pesanan dalam</div>  
            <div class="bg-yellow-300 inline-block p-0.5 px-1 rounded-sm">01</div>
            <div class="inline-block text-white">:</div>
            <div class="bg-yellow-300 inline-block p-0.5 px-1 rounded-sm ">02</div>
            <div class="inline-block text-white">:</div>
            <div class="bg-yellow-300 inline-block p-0.5 px-1 rounded-sm ">01</div>
        </div>
    </section>
    <!-- end -->

    
    <section class="w-1210" >
        <div class="card_1 p-3 inline-block align-top box-border rounded-md">
            <h1 class="text-xl font-semibold mb-3">Methode Pembayaran</h1>
            <div class="p-4 w-2/3 bg-white inline-block">
                <h1 class="text-gray-2 font-semibold">Gerai Ritel</h1>
                <hr class="my-3">
                <a href="/alfamart-pay?flight_id={{.data.Flight_id}}&order={{.order}}" class="flex justify-between items-center">
                    <div class="">
                        <h1 class="text-gray-2 font-semibold">Alfamart</h1>
                    </div>
                    <div class="flex gap-3 items-center">
                        <img src="/static/img/payment/alfa-mart.png" class="w-13 h-5" alt="">
                        <img src="/static/img/payment/alfa-midi.png" class="w-13 h-5" alt="">
                        <img src="/static/img/payment/dan-dan.png" class="w-13 h-5" alt="">
                        <img src="/static/img/payment/lawson.png" class="w-12 h-2" alt="">
                        <span class="material-icons text-3xl text-gray-2 left-arrow">
                            chevron_right
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="card_2 -ml-44 box-border rounded-md">
            <div class="p-3 font-semibold">
                <div class="inline-block align-middle">
                    <img src="/static/img/airplane-mode.png" class="w-10 h-10" alt="">
                </div>
                <div class="inline-block align-middle ml-3">
                    <span>{{.shedules.Source_airport_city}}</span>
                    <span class="material-icons align-middle">arrow_right_alt</span>
                    <span>{{.shedules.Destination_airport_city}}</span>
                    <div class="">Order ID : {{.order}}</div>
                </div>
                <div class="inline-block float-right clear-both mt-2 align-baseline">
                    <span class="material-icons dropdwon-icon text-blue-1">
                        expand_more
                    </span>
                </div>
            </div>
            <hr>
            <div class="p-3">
               <div class="">
                <div class="inline-block ">Detail harga</div>
                <div class="inline-block float-right">
                    <span class="material-icons dropdwon-icon text-blue-1">
                        expand_more
                    </span>
                </div>
               </div>
               <div class="flex justify-between w-full">
                <div class=" font-semibold text-lg ">Total Pembayaran</div>
                <div class=" font-semibold text-xl text-blue-1">IDR {{.shedules.Price}}</div>
               </div>
            </div>
        </div>

        </div>
    </section>
  
</body>
</html>